body {
  /* Trending attractive background color */
 
  /* Gradient for a more dynamic look */
  background: linear-gradient(to bottom right, #f56720, #eee3e0); /* Gradient from light peach to light orange */
}

.card {
  padding: 15px; /* Adjusted padding for better spacing */
  background: #ffffff; /* White background for cards */
  border-radius: 10px; /* Adding rounded corners for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle box shadow for cards */
}

.form-label {
  font-weight: bold;
  color: #333; /* Dark color for better visibility on light backgrounds */
}
